<style>
    body {
        background-color: black;
        text-align: center;
    }
    a {
        font-style: monospace;
        text-decoration: none;
        color: white;
        height: 40px;
        width: 40px;
        margin: 5px;
        display: inline-block;
        font-size: 2em;
        background-color: white;
    }
    a.set {
        background-color: red;
    }
</style>
<body>
    {% for y in range(config.SIZE) %}
        {% for x in range(config.SIZE) %}
        <a
            href="/api/set?x={{ x }}&y={{ y }}&v={% if (x,y) is set %}0{% else %}1{% endif %}"
            class="{% if (x,y) is set %}set{% endif %}">
        </a>
        {% endfor %}
        <br>
    {% endfor %}
</body>
